<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <p>This is operation/transfer</p>
    <form name="add" method="post" th:action="@{/operation/perform/transfer}">
        <label>Sum:</label>
        <input type="text" name="sum"/><br>
        <label>Receiver ID:</label>
        <input type="text" name="id"/><br>
        <button type="submit">OK</button>
    </form>
</div>
</body>
</html>