<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <h1 class="display-4">Welcome to Slava's Bank!</h1>
    <p class="lead" align="center">This is by far the best bank where you can perform a set of different operations</p>
    <div style="width: 512px; height: 512px; margin-left: 300px;">
        <img src="../static/images/bank.png" th:src="@{images/bank.png}" width="512" height="512">
    </div>
</div>
</body>
</html>